body {
  margin: 0;
  font-family: Arial;
  background: #f5f7fb;
  color: #111;
}

/* LOGIN */
.loginBox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #2563eb;
  color: white;
}

/* PANEL */
.hidden {
  display: none;
}

.adminPanel {
  padding: 20px;
}

/* TOPBAR */
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

/* STATS */
.stats {
  margin: 15px 0;
  font-size: 18px;
}

/* BUTTON */
.danger {
  background: #ef4444;
}

/* USER CARD */
.user {
  background: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
